# Python
__pycache__/
.ipynb_checkpoints/
*.pyc

# Environment
.env
.env*

# Next.js
node_modules/
.next/
.vercel/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Optional raw datasets
data/raw/